$primary: #008080;
$primary-accent: #00e0e0;

$text-primary: #dadada;

$background-light: #dbdbdb;

$background-dark: #131313;

$background-dark-light: #1f1f1f;

$background-dark-transparent: rgba(19, 19, 19, 0.75);