@import './colors';
@import './keyframes';

.Gallery {
  // border: 2px solid red;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
  width: 100vw;
  pointer-events: none;
}

.Gallery-item {
  // opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  visibility: hidden;
  transition: ease 0.05s;
}

.Gallery-item--selected {
  // opacity: 1;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  // animation: 8s fading;
  // transition: ease 0.65s;
}

.gradient {
  background: $gradient;
  background-size: 400% 400%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: Gradient 3s ease infinite;
}

.slogan {
  padding: 1rem;
  font-size: 2rem;
}