@import "_colors";

*,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $text-primary;
  font-family: 'Roboto', sans-serif;
}


// Reset UL
ul {
  list-style-type: none;
}

// Reset Links
a,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  background-color: none;
  border: none;
  outline: 0;
  -webkit-tap-highlight-color: none;
}



.main-container {
  background-color: $background-dark;
  height: 100vh;
  width: 100vw;
}

.material-icons {
  color: $text-primary;
  font-size: 5rem;
}