@import '_colors';
@import 'carousel';

*,
html {
    ;
    color: $text-primary;
}

.main-container {
    background-color: $background-dark;
    min-height: 100vh;
}

.material-icons {
    color: $text-primary;
}